<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
{{block "navv" .}}
    {{ partial "nav.html" . }}
{{end}}
<!-- Page Header -->

{{ block "header" .}}
<header class="intro-header" style="background-image: url('{{ .Site.Params.header_image | relURL }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading" >
                    <h1 style="font-weight:800">{{ .Site.Title}} </h1>
                    <!-- <br> -->
                    <!--<hr class="small">-->
                    <div class="pt-3 lead mt-2" ><span class="subheading" style="font-weight:400;">{{ .Site.Params.slogan }}</span></div>
		    
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ block "main" . }}
{{ end }}

{{ partial "footer.html" . }}
</body>
</html>
