{{ define "main" }}
<!-- Page Header -->
<a href="{{ "/" | relLangURL }}">
<header class="intro-header" style="background-image: url('{{ .Site.Params.image_404 | relURL }}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading" id="tag-heading">
					<span class="subheading">{{ .Site.Params.title_404 }}</span>
				</div>
			</div>
		</div>
	</div>
</header></a>

<script>
	document.body.classList.add('page-fullscreen');
</script>
{{ end }}
